<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header-top">
                <a href="./" class="header-top__logo">
                    <img src="img/icons/logo2.svg" alt="">
                </a>
                <div class="header-top__right">
                    <div class="header-top__icons">
                        <a href="./">
                            <img src="img/icons/box.svg" alt="">
                            <span class="header-icon-dropdowm">Заказы</span>
                        </a>
                        <a href="./">
                            <img src="img/icons/cart.svg" alt="">
                            <span class="header-icon-dropdowm">Корзина</span>
                        </a>
                        <a href="./">
                            <img src="img/icons/settings.svg" alt="">
                            <span class="header-icon-dropdowm">Настройки</span>
                        </a>
                        <a href="./">
                            <img src="img/icons/users.svg" alt="">
                            <span class="header-icon-dropdowm">Персонал</span>
                        </a>
                        <a data-da=".header-bottom__icons, 768" href="./">
                            <img src="img/icons/login.svg" alt="">
                            <span class="header-icon-dropdowm">Выход</span>
                        </a>
                    </div>
                    <div data-da=".header-top__icons, 768,last" class="header-top-location">
                        <div class="header-top-location__button">
                            <div class="header-top-location__icon">
                                <img src="img/icons/rotate.svg" alt="">
                            </div>
                            <span>ООО ТАМБОВ-АВТО-СИТИ, Тамбов</span>
                            <span class="header-icon-dropdowm">Сменить профиль</span>
                        </div>
                        <div class="header-top-location__dropdown">
                            <ul>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Кемерово</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Аэропорт</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Алибашевского</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Новокузнецк</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Кемерово</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Аэропорт</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Алибашевского</a>
                                </li>
                                <li>
                                    <a href="./">ООО «Р-Моторс ЛАДА», Новокузнецк</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom">
                <div class="header-bottom__body">
                    <button type="button" class="icon-menu"><span></span></button>
                    <div class="header-bottom__menu">
                        <ul>
                            <li>
                                <a href="./">О нас</a>
                            </li>
                            <li>
                                <a href="./">Оплата</a>
                            </li>
                            <li>
                                <a href="./">Доставка</a>
                            </li>
                            <li>
                                <a href="./">Помощь</a>
                            </li>
                            <li>
                                <a href="./">Отзывы</a>
                            </li>
                            <li>
                                <a href="./">Контакты</a>
                            </li>
                        </ul>
                        <div class="header-bottom__icons"></div>
                    </div>
                </div>
                <div class="header-bottom__right">
                    <div data-da=".header-bottom__menu, 768, first" class="header-search">
                        <div class="header-search__input">
                            <input autocomplete="off" type="text" name="form[]" placeholder="Поиск">
                            <div class="header-search__close">
                                <img src="img/icons/close.svg" alt="">
                            </div>
                        </div>
                        <button type="button" class="header-search__button">
                            <img src="img/icons/search.svg" alt="">
                        </button>
                    </div>
                    <div data-da=".header-bottom__menu, 768, last" class="header-bottom__contacts">
                        <a href="./" class="header-bottom__contact">
                            <img src="img/icons/max.svg" alt="">
                        </a>
                        <a href="./" class="header-bottom__contact">
                            <img src="img/icons/telegram.svg" alt="">
                        </a>
                        <a href="./" class="header-bottom__contact">
                            <img src="img/icons/phone.svg" alt="">
                            <span>+7 (937) 217-46-57</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>