<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icons/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Контакты</span></li>
                    </ul>
                </div>
            </div>

            <div class="block-contacts">
                <div class="container">
                    <div class="block-contacts__content">
                        <div class="block-contacts__map">
                            <div id="map1" class="map"></div>
                        </div>
                        <div class="block-contacts__text">
                            <p>
                                График работы:
                                <br>
                                понедельник-пятница 9.00 - 18.00 часов (8.00 - 17.00 мск)
                                <br>
                                суббота-воскресенье выходные дни
                            </p>
                            <p>
                                Фактический (почтовый, юридический) адрес: 445042, Самарская область, г. Тольятти, ул.
                                Ворошилова, д. 12А
                            </p>
                            <p>
                                <a href="tel:79372174657">+7 (937) 217-46-57</a> (телефон, мессенджеры)
                            </p>
                            <p>
                                <a href="mailto:merida.info@mail.ru">merida.info@mail.ru</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>