<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-hero">
                <div class="container">
                    <div class="block-hero__body">
                        <a href="./" class="block-hero__column">
                            <img src="img/image1.webp" alt="">
                            <div class="block-hero__text">
                                Оформление авто
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image2.webp" alt="">
                            <div class="block-hero__text">
                                Таблички
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image3.webp" alt="">
                            <div class="block-hero__text">
                                Полиграфия
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image4.webp" alt="">
                            <div class="block-hero__text">
                                Пакеты и ручки
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image5.webp" alt="">
                            <div class="block-hero__text">
                                Флаги
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image6.webp" alt="">
                            <div class="block-hero__text">
                                Наклейки
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image7.webp" alt="">
                            <div class="block-hero__text">
                                Сувенирка
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image8.webp" alt="">
                            <div class="block-hero__text">
                                Инфо стенды
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image9.webp" alt="">
                            <div class="block-hero__text">
                                Комплекты POS
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image10.webp" alt="">
                            <div class="block-hero__text">
                                Аксессуары
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image11.webp" alt="">
                            <div class="block-hero__text">
                                Одежда
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image12.webp" alt="">
                            <div class="block-hero__text">
                                Кружки и термосы
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image13.webp" alt="">
                            <div class="block-hero__text">
                                Прочее
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image14.webp" alt="">
                            <div class="block-hero__text">
                                Мероприятия
                            </div>
                        </a>
                        <a href="./" class="block-hero__column">
                            <img src="img/image15.webp" alt="">
                            <div class="block-hero__text">
                                ПРОЧИЕ БРЕНДЫ
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </main>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>