<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Заказы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="breadcrumbs">
                <div class="container">
                    <ul>
                        <li>
                            <a href="#">
                                Главная
                                <img src="img/icons/arrow1.svg" alt="">
                            </a>
                        </li>
                        <li><span>Заказы</span></li>
                    </ul>
                </div>
            </div>

        </main>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>