.block-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
    .container {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        max-width: 1052px;
    }
    // .block-login__content

    &__content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 146px;
    }

    // .block-login__logo

    &__logo {
        width: 100%;
        height: auto;
        display: flex;
        img {
            width: 100%;
            height: auto;
        }
    }

    // .block-login__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 40px;
        max-width: 244px;
        width: 100%;
        .btn {
            width: 100%;
        }
    }

    // .block-login__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    // .block-login__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .block-login__input

    &__input {
        display: flex;
        flex-direction: column;
        gap: 5px;
        .form__error {
            font-weight: 400;
            font-size: 12px;
            line-height: 150%;
            color: var(--osnovnoy-krasnyy);
            margin: -5px 0px 0px 0px;
        }
        label {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: #6e6e6e;
        }
        input {
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            border: 1px solid var(--osnovnoy-siniy);
            border-radius: 6px;
            height: 44px;
            padding: 0px 15px;
            &._form-error {
                border: 1px solid var(--osnovnoy-krasnyy);
            }
        }
    }

    // .block-login__password

    &__password {
        font-weight: 400;
        font-size: 16px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        text-align: center;
        color: var(--osnovnoy-siniy);
        transition: color 0.3s;
        &:hover {
            color: var(--osnovnoy-pri-navedenii);
        }
    }

    // .block-login__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #6e6e6e;
    }

    // .block-login__buttons

    &__buttons {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 768px) {
            gap: 10px;
        }
    }
}

//========================================================================================================================================================

.block-hero {
    padding: 0px 0px 80px;
    @media (max-width: 992px) {
        padding: 0px 0px 72px 0px;
    }
    @media (max-width: 768px) {
        padding: 0px 0px 60px 0px;
    }
    // .block-hero__body

    &__body {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 20px;
        @media (max-width: 1663px) {
            grid-template-columns: repeat(4, 1fr);
        }
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .block-hero__column

    &__column {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        overflow: hidden;
        @media (max-width: 768px) {
            min-height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            transition: transform 0.5s;
        }
        &:hover {
            img {
                transform: scale(1.05);
            }
        }
    }

    // .block-hero__text

    &__text {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 10;
        font-weight: 500;
        font-size: 16px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: var(--osnovnoy-belyy);
        text-align: center;
        padding: 30px 20px;
        width: 100%;
        @media (max-width: 992px) {
            display: none;
        }
    }
}

//========================================================================================================================================================

.block-contacts {
    padding: 80px 0px;
    @media (max-width: 992px) {
        padding: 72px 0px;
    }
    @media (max-width: 768px) {
        padding: 60px 0px;
    }
    .container {
        @media (max-width: 768px) {
            padding: 0px 20px;
        }
    }
    // .block-contacts__content

    &__content {
        display: flex;
        justify-content: space-between;
        padding: 0px 10px;
        gap: 30px;
        @media (max-width: 992px) {
            flex-direction: column-reverse;
            justify-content: start;
            padding: 0px 0px 0px 0px;
            gap: 70px;
        }
        @media (max-width: 768px) {
            gap: 45px;
        }
    }

    // .block-contacts__map

    &__map {
        flex: 0 1 785px;
        overflow: hidden;
        @media (max-width: 992px) {
            flex: 1 1 auto;
        }
    }

    // .block-contacts__text

    &__text {
        flex: 0 1 718px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 10px 0px 0px 0px;
        @media (max-width: 992px) {
            flex: 1 1 auto;
            padding: 10px 20px 0px 20px;
        }
        @media (max-width: 768px) {
            padding: 10px 10px 0px 10px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 125%;
            letter-spacing: -0.02em;
            color: var(--osnovnoy-tekst);
            a {
                transition: color 0.3s;
                &:hover {
                    color: var(--osnovnoy-siniy);
                }
            }
        }
    }
}

//========================================================================================================================================================

.block-services {
    padding: 0px 0px 80px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 0px 0px;
    }
    // .block-services__content

    &__content {
        display: flex;
        gap: 20px;
        align-items: start;
        @media (max-width: 992px) {
            flex-direction: column;
        }
        @media (max-width: 768px) {
            gap: 10px;
        }
    }

    // .block-services__body

    &__body {
        flex: 1 1 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 1200px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
            position: fixed;
            top: 305px;
            width: calc(100% - 74px);
            height: calc(100% - 305px);
            padding: 0px 0px 77px 0px;
            left: 37px;
            gap: 5px;
            z-index: 90;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @media (max-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            top: 242px;
            left: 15px;
            width: calc(100% - 30px);
            height: calc(100% - 242px);
            padding: 0px 0px 116px 0px;
        }
        @media (max-width: 550px) {
            grid-template-columns: 1fr;
            gap: 11px;
        }
    }

    // .block-services__cars

    &__cars {
        flex: 1 1 auto;
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        @media (max-width: 1400px) {
            grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        }
        @media (max-width: 992px) {
            position: fixed;
            top: 305px;
            width: calc(100% - 74px);
            height: calc(100% - 305px);
            padding: 0px 0px 77px 0px;
            left: 37px;
            gap: 5px;
            z-index: 90;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @media (max-width: 768px) {
            top: 242px;
            left: 15px;
            width: calc(100% - 30px);
            height: calc(100% - 242px);
            padding: 0px 0px 116px 0px;
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(2, 1fr);
            gap: 2px;
        }
    }

    // .block-services__card

    &__card {
        border: 1px solid rgba(0, 0, 0, 0.12);
        padding: 13px 10px 20px 10px;
        display: flex;
        flex-direction: column;
        gap: 17px;
        &:hover {
            .block-services__title {
                color: var(--osnovnoy-siniy);
            }
        }
        @media (max-width: 992px) {
            gap: 22px;
        }
        @media (max-width: 768px) {
            gap: 17px;
        }
    }

    // .block-services__image

    &__image {
        display: flex;
        position: relative;
        width: 100%;
        height: 229px;
        overflow: hidden;
        @media (max-width: 992px) {
            height: 188px;
        }
        @media (max-width: 768px) {
            height: 100%;
            max-height: 232px;
        }
        @media (max-width: 550px) {
            max-height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .block-services__item

    &__item {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    // .block-services__titles

    &__titles {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    // .block-services__title

    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
        transition: color 0.3s;
    }

    // .block-services__clock

    &__clock {
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
        img {
            width: 21px;
            height: 21px;
        }
    }

    // .block-services__price

    &__price {
        font-weight: 500;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: -0.01em;
        color: var(--osnovnoy-pri-navedenii);
    }
}
.menu-services {
    position: relative;
    flex: 0 0 302px;
    @media (max-width: 1300px) {
        flex: 0 0 250px;
    }
    @media (max-width: 992px) {
        flex: 0 1 auto;
        width: 100%;
    }
    // .menu-services__content

    &__content {
        padding: 24px 18px 24px 18px;
        background: #f6f6f6;
        position: sticky;
        top: 100px;
        @media (max-width: 992px) {
            padding: 0px 0px 0px 0px;
            position: relative;
            top: 0;
            background: transparent;
        }
        ul {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 26px;
            @media (max-width: 992px) {
                padding: 20px 37px 20px 97px;
                width: 100%;
                flex-direction: row;
                flex-wrap: nowrap;
                gap: 40px;
                margin: 0px -37px;
                width: calc(100% + 74px);
                flex: 0 1 auto;
                overflow: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
            }
            @media (max-width: 768px) {
                padding: 20px 15px 20px 75px;
                margin: 0px -15px;
                width: calc(100% + 30px);
            }
            li {
                @media (min-width: 993px) {
                    &.menu-last {
                        border-top: 1px solid var(--vtorostepennye-elementy);
                        padding: 20px 0px 0px 0px;
                        a {
                            font-weight: 700;
                            text-transform: uppercase;
                        }
                    }
                }
                a {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 120%;
                    color: var(--osnovnoy-tekst);
                    transition: color 0.3s;
                    @media (max-width: 992px) {
                        white-space: nowrap;
                    }
                    &:hover {
                        color: var(--osnovnoy-siniy);
                    }
                    &.active {
                        pointer-events: none;
                        color: var(--osnovnoy-siniy);
                        text-decoration: underline;
                        text-decoration-skip-ink: none;
                    }
                }
            }
        }
    }
}
.car-card {
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px;
    position: relative;
    @media (max-width: 600px) {
        border: 0.68px solid rgba(0, 0, 0, 0.12);
        padding: 13px;
    }
    &:hover {
        .car-card__image {
            height: calc(100% - 70px);
            @media (max-width: 768px) {
                height: calc(100% - 60px);
            }
            @media (max-width: 600px) {
                height: calc(100% - 50px);
            }
        }

        .car-card__item {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }
    // .car-card__image

    &__image {
        height: 100%;
        border: 1px solid var(--vtorostepennye-elementy);
        overflow: hidden;
        transition: height 0.5s ease;
        @media (max-width: 600px) {
            border: 0.53px solid var(--vtorostepennye-elementy);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    // .car-card__item

    &__item {
        background: var(--osnovnoy-siniy);
        opacity: 0.98;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 22px 0px 0px 0px;
        min-height: 49px;
        gap: 10px;
        padding: 10px 14px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(20px);
        transition: all 0.5s ease;
        position: absolute;
        bottom: 20px;
        left: 20px;
        right: 20px;
        width: calc(100% - 40px);
        @media (max-width: 768px) {
            transform: translateY(10px);
            min-height: auto;
            flex-direction: column;
            justify-content: start;
            gap: 3px;
            padding: 5px 10px;
            margin: 10px 0px 0px 0px;
        }
        @media (max-width: 600px) {
            width: calc(100% - 26px);
            left: 13px;
            right: 13px;
            bottom: 13px;
        }
    }

    // .car-card__name

    &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 113%;
        letter-spacing: -0.02em;
        color: var(--osnovnoy-belyy);
        @media (max-width: 768px) {
            font-size: 14px;
            text-align: center;
        }
        @media (max-width: 600px) {
            font-size: 12px;
        }
    }

    // .car-card__price

    &__price {
        font-weight: 500;
        font-size: 16px;
        line-height: 113%;
        letter-spacing: -0.02em;
        color: var(--osnovnoy-belyy);
        @media (max-width: 768px) {
            font-size: 14px;
            text-align: center;
        }
        @media (max-width: 600px) {
            font-size: 12px;
        }
    }
}
.badges {
    position: absolute;
    top: 7px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 6px;
    @media (max-width: 992px) {
        top: 4px;
        left: 6px;
    }
    @media (max-width: 550px) {
        top: 7px;
        left: 12px;
    }
    // .badges__badge

    &__badge {
        font-weight: 500;
        font-size: 10px;
        line-height: 120%;
        border-radius: 4px;
        padding: 1.5px 6px;
        min-width: 60px;
        background: transparent;
        text-align: center;
        @media (max-width: 992px) {
            min-width: 50px;
            padding: 1px 2px;
        }
        @media (max-width: 550px) {
            min-width: 67px;
            padding: 1.5px 10px;
        }
        &.badge-blue {
            border: 1px solid var(--osnovnoy-pri-navedenii);
            color: var(--osnovnoy-pri-navedenii);
        }
        &.badge-green {
            border: 1px solid var(--osnovnoy-zelenyy);
            color: var(--osnovnoy-zelenyy);
        }
        &.badge-red {
            color: var(--osnovnoy-krasnyy);
            border: 1px solid var(--osnovnoy-krasnyy);
        }
        &.badge-orange {
            border: 1px solid var(--vtorostepennye-chestnyy-znak);
            color: var(--vtorostepennye-chestnyy-znak);
        }
    }
}

//========================================================================================================================================================

.block-cart {
    padding: 0px 0px 130px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 80px 0px;
    }
    @media (max-width: 768px) {
        padding: 0px 0px 40px 0px;
    }
    // .block-cart__content

    &__content {
        display: flex;
        gap: 20px;
        @media (max-width: 992px) {
            flex-direction: column;
        }
    }

    // .block-cart__body

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 60px;
        @media (max-width: 768px) {
            gap: 40px;
        }
    }

    // .block-cart__top

    &__top {
        display: flex;
        flex-direction: column;
        gap: 20px;
        @media (max-width: 992px) {
            gap: 60px;
        }
        @media (max-width: 768px) {
            gap: 40px;
        }
    }

    // .block-cart__calendar

    &__calendar {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 14px;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: -0.02em;
        transition: opacity 0.3s;
        @media (max-width: 768px) {
            justify-content: start;
        }
        img {
            width: 20px;
            height: 20px;
            margin: -2px 0px 0px 0px;
        }
        &:hover {
            opacity: 0.7;
        }
    }

    // .block-cart__bottom

    &__bottom {
        display: flex;
        gap: 60px;
        justify-content: flex-end;
        @media (max-width: 768px) {
            justify-content: start;
            align-items: start;
            flex-direction: column;
            gap: 40px;
        }
        .btn {
            padding: 10px 23px;
        }
    }

    // .block-cart__total

    &__total {
        display: flex;
        flex-direction: column;
        gap: 6px;
        font-weight: 500;
        font-size: 24px;
    }

    // .block-cart__sale

    &__sale {
        font-weight: 400;
        font-size: 14px;
        span {
            color: var(--osnovnoy-krasnyy);
        }
    }
}

.cart-tables {
    .cart-tables-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
        padding: 20px;
    }
    @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    // .cart-tables__main-table

    &__main-table {
        display: flex;
        @media (max-width: 992px) {
            display: none;
        }
    }

    // .cart-tables__left

    &__left {
        display: flex;
        flex: 0 0 51%;
        @media (max-width: 992px) {
            flex: 1 1 auto;
        }
    }

    // .cart-tables__title

    &__title {
        text-align: left;
        padding: 20px 20px 20px 140px !important;
        @media (max-width: 1300px) {
            padding: 20px 20px 20px 110px !important;
        }
    }

    // .cart-tables__right

    &__right {
        display: flex;
        flex: 0 0 49%;
        @media (max-width: 992px) {
            flex: 0 0 auto;
        }
        @media (max-width: 768px) {
            min-height: 51px;
            flex: 1 1 auto;
            justify-content: space-between;
            border-top: 1px solid var(--vtorostepennye-elementy);
        }
    }

    // .cart-tables__table

    &__table {
        display: flex;
        border-top: 1px solid var(--vtorostepennye-elementy);
        border-left: 1px solid var(--vtorostepennye-elementy);
        border-right: 1px solid var(--vtorostepennye-elementy);
        min-height: 71px;
        &:last-child {
            border-bottom: 1px solid var(--vtorostepennye-elementy);
        }
        @media (max-width: 768px) {
            flex-direction: column;
            border: 1px solid var(--vtorostepennye-elementy);
        }
        .cart-tables__left {
            align-items: center;
            padding: 4px 20px 4px 40px;
            gap: 20px;
            @media (max-width: 1300px) {
                padding: 4px 10px 4px 10px;
                gap: 10px;
            }
            @media (max-width: 768px) {
                padding: 20px 6px 20px 6px;
            }
            @media (max-width: 480px) {
                gap: 6px;
            }
            &:hover {
                .cart-tables__name {
                    color: var(--osnovnoy-krasnyy);
                }
            }
        }
    }

    // .cart-tables__image

    &__image {
        flex: 0 0 80px;
        width: 80px;
        height: 60px;
        display: block;
        &.border {
            border: 1px solid var(--vtorostepennye-elementy);
        }
        @media (max-width: 480px) {
            width: 73px;
            height: 55px;
            flex: 0 0 73px;
        }
        img {
            width: 100%;
            height: 60px;
            object-fit: cover;
            @media (max-width: 480px) {
                height: 55px;
            }
        }
    }

    // .cart-tables__name

    &__name {
        flex: 1 1 auto;
        transition: color 0.3s;
        font-weight: 400;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        span {
            font-size: 14px;
            color: #bfbfbf;
        }
    }

    // .cart-tables__apps

    &__apps {
        flex: 0 0 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity 0.3s;
        padding: 10px 12px;
        @media (max-width: 1300px) {
            flex: 0 0 12%;
        }
        @media (max-width: 992px) {
            flex: 0 0 51px;
        }
        @media (max-width: 768px) {
            flex: 0 0 56px;
            padding: 10px;
            border-right: 1px solid var(--vtorostepennye-elementy);
        }
        @media (max-width: 374px) {
            flex: 0 0 48px;
        }
        &:hover {
            opacity: 0.7;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }

    // .cart-tables__layout

    &__layout {
        flex: 1 0 auto;
        white-space: nowrap;
        display: flex;
        gap: 13px;
        align-items: center;
        justify-content: center;
        font-weight: 300;
        font-size: 16px;
        color: var(--osnovnoy-zelenyy);
        transition: opacity 0.3s;
        @media (max-width: 1400px) {
            flex: 0 0 160px;
        }
        @media (max-width: 1200px) {
            flex: 0 0 60px;
            img {
                filter: invert(50%) sepia(90%) saturate(401%) hue-rotate(84deg) brightness(85%) contrast(90%);
            }
            span {
                display: none;
            }
        }
        @media (max-width: 768px) {
            border-right: 1px solid var(--vtorostepennye-elementy);
        }
        @media (max-width: 400px) {
            flex: 0 0 35px;
        }
        &.red {
            color: var(--osnovnoy-krasnyy);
            img {
                @media (max-width: 1200px) {
                    filter: invert(53%) sepia(46%) saturate(6308%) hue-rotate(335deg) brightness(106%) contrast(103%);
                }
            }
        }
        &:hover {
            opacity: 0.7;
        }
        img {
            width: 20px;
            height: 20px;
            @media (max-width: 400px) {
                width: 16px;
                height: 16px;
            }
        }
    }

    // .cart-tables__prices

    &__prices {
        flex: 1 0 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        @media (max-width: 992px) {
            flex: 1 0 100px;
            justify-content: start;
            padding: 10px;
        }
        @media (max-width: 768px) {
            flex: 1 1 auto;
            justify-content: center;
            border-right: 1px solid var(--vtorostepennye-elementy);
        }
    }

    // .cart-tables__price

    &__price {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.02em;
        span {
            font-weight: 400;
            font-size: 10px;
            color: var(--osnovnoy-krasnyy);
        }
    }

    // .cart-tables__quantity

    &__quantity {
        padding: 10px;
        flex: 0 0 35%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            flex: 0 0 123px;
        }
        @media (max-width: 768px) {
            flex: 1 1 auto;
            border-right: 1px solid var(--vtorostepennye-elementy);
        }
        @media (max-width: 374px) {
            flex: 0 0 auto;
        }
    }

    // .cart-tables__close

    &__close {
        padding: 10px 12px;
        flex: 0 0 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 992px) {
            flex: 0 0 48px;
        }
        @media (max-width: 768px) {
            flex: 0 0 51px;
            padding: 10px;
        }
        @media (max-width: 374px) {
            flex: 0 0 48px;
        }
        button {
            border-radius: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            transition: opacity 0.3s;
            background: var(--osnovnoy-krasnyy);
            img {
                width: 20px;
                height: 20px;
            }
            &:hover {
                opacity: 0.7;
            }
        }
    }
}

//========================================================================================================================================================

.block-cart-detail {
    padding: 0px 0px 130px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 80px 0px;
    }
    @media (max-width: 768px) {
        padding: 0px 0px 40px 0px;
    }
    .container {
        max-width: 854px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
}

//========================================================================================================================================================

.block-profile {
    padding: 60px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 50px 0px;
    }
    .container {
        max-width: 874px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
    .form__title {
        padding: 10px 0px;
        text-transform: uppercase;
        text-align: center;
    }
    .spollers__body {
        padding: 30px 0px 0px 0px;
    }
}

//========================================================================================================================================================

.spollers {
    // .spollers__item

    &__item {
    }

    // .spollers__title

    &__title {
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        gap: 14px;
        margin: 0 auto;
        img {
            width: 13px;
            height: 8px;
            transition: transform 0.3s;
        }
        &._spoller-active {
            img {
                transform: rotate(-180deg);
            }
        }
    }

    // .spollers__body

    &__body {
    }
}

//========================================================================================================================================================

.block-orders {
    padding: 0px 0px 113px 0px;
    @media (max-width: 992px) {
        padding: 0px 0px 80px 0px;
    }
    @media (max-width: 768px) {
        padding: 0px 0px 40px 0px;
    }
    // .block-orders__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 1200px) {
            gap: 60px;
        }
    }

    // .block-orders__column

    &__column {
        &.hide {
            display: none;
        }
        @media (max-width: 1200px) {
            border-bottom: 1px solid var(--vtorostepennye-elementy);
            padding: 0px 0px 20px 0px;
        }
        &.active {
            .block-orders__info {
                background-color: #ecf9ff;
                @media (max-width: 1200px) {
                    background-color: transparent;
                }
            }
            .order-details {
                img {
                    transform: rotate(-180deg);
                }
            }
        }
        .cart-tables {
            @media (max-width: 1200px) {
                margin: 20px 0px 0px 0px;
            }
        }
        .cart-tables__table {
            &:first-child {
                border-top: none;
                @media (max-width: 1200px) {
                    border-top: 1px solid var(--vtorostepennye-elementy);
                }
            }
        }
        .cart-tables__left {
            flex: 0 0 39%;
            @media (max-width: 992px) {
                flex: 1 1 auto;
            }
        }
        .cart-tables__right {
            flex: 0 0 61%;
            @media (max-width: 992px) {
                flex: 0 0 auto;
            }
            @media (max-width: 768px) {
                flex: 1 1 auto;
            }
        }
        .cart-tables__apps {
            flex: 0 0 125px;
            @media (max-width: 1400px) {
                flex: 0 0 12%;
            }
            @media (max-width: 992px) {
                flex: 0 0 51px;
            }
            @media (max-width: 768px) {
                flex: 0 0 56px;
                padding: 10px;
            }
            @media (max-width: 400px) {
                flex: 0 0 35px;
                padding: 0px 0px 0px 0px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .cart-tables__quantity {
            flex: 0 0 214px;
            @media (max-width: 1400px) {
                flex: 0 0 123px;
            }
            @media (max-width: 768px) {
                flex: 1 1 auto;
            }
            @media (max-width: 400px) {
                padding: 10px 5px;
            }
            @media (max-width: 374px) {
                flex: 0 0 auto;
            }
        }
        .cart-tables__prices {
            flex: 0 0 214px;
            @media (max-width: 1400px) {
                flex: 1 0 100px;
                justify-content: center;
            }
            @media (max-width: 768px) {
                flex: 1 1 auto;
            }
            @media (max-width: 400px) {
                padding: 10px 5px;
            }
        }
        .cart-tables__close {
            @media (max-width: 400px) {
                flex: 0 0 35px;
                padding: 0px 0px 0px 0px;
                button {
                    width: 20px;
                    height: 20px;
                    img {
                        width: 14px;
                        height: 14px;
                    }
                }
            }
        }
    }

    // .block-orders__info

    &__info {
        display: flex;
        gap: 80px;
        background-color: var(--osnovnoy-belyy);
        border: 1px solid var(--vtorostepennye-elementy);
        padding: 25px 15px;
        transition: background-color 0.3s;
        @media (max-width: 1500px) {
            gap: 50px;
        }
        @media (max-width: 1300px) {
            gap: 20px;
        }
        @media (max-width: 1200px) {
            padding: 0px 0px 0px 0px;
            grid-area: 30px;
            flex-direction: column;
            justify-content: start;
            border: none;
        }
    }
}

.block-orders-top {
    padding: 34px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    @media (max-width: 1200px) {
        margin: 0px 0px 15px 0px;
    }
    @media (max-width: 992px) {
        padding: 30px 0px;
    }
    @media (max-width: 768px) {
        margin: 0px 0px 0px 0px;
    }
    // .block-orders-top__body

    &__body {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 40px 90px;
        @media (max-width: 992px) {
            flex-direction: column;
            align-items: start;
        }
    }

    // .block-orders-top__search

    &__search {
        flex: 0 0 226px;
        width: 226px;
        display: flex;
        padding: 0px 0px 7px 0px;
        gap: 20px;
        border-bottom: 1px solid var(--vtorostepennye-elementy);
        @media (max-width: 992px) {
            flex: 0 1 auto;
            padding: 0px 0px 0px 0px;
            border-bottom: none;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    // .block-orders-top__button

    &__button {
        flex: 0 0 18px;
        img {
            width: 18px;
            height: 20px;
        }
    }

    // .block-orders-top__input

    &__input {
        width: 100%;
        input {
            width: 100%;
            font-weight: 400;
            font-size: 14px;
            &::placeholder {
                color: var(--vtorostepennye-elementy);
            }
        }
    }

    // .block-orders-top__menu

    &__menu {
        flex: 1 1 auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px 60px;
        @media (max-width: 992px) {
            width: 100%;
            gap: 20px 80px;
            justify-content: space-between;
        }
        @media (max-width: 768px) {
            justify-content: start;
        }
    }

    // .block-orders-top__title

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: var(--osnovnoy-tekst);
        transition: color 0.3s;
        &:hover {
            color: var(--osnovnoy-pri-navedenii);
        }
        &.active {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--osnovnoy-pri-navedenii);
        }
    }

    // .block-orders-top__warning

    &__warning {
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        gap: 10px;
        background: var(--osnovnoy-krasnyy);
        border-radius: 6px;
        padding: 8px 15px;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--osnovnoy-belyy);
        margin-left: auto;
        @media (max-width: 370px) {
            font-size: 14px;
            width: 100%;
            margin-left: 0px;
        }
        img {
            width: 20px;
            height: 20px;
            @media (max-width: 370px) {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.block-orders-info1 {
    flex: 0 1 565px;
    display: flex;
    flex-direction: column;
    gap: 34px;
    @media (max-width: 1200px) {
        flex: 1 1 auto;
        gap: 30px;
    }
    // .block-orders-info1__left

    &__left {
        flex: 1 1 auto;
        @media (max-width: 1200px) {
            display: flex;
            align-items: start;
            gap: 30px;
        }
    }

    // .block-orders-info1__titles

    &__titles {
        flex: 1 1 auto;
        display: flex;
        gap: 80px;
        @media (max-width: 1500px) {
            gap: 50px;
        }
        @media (max-width: 1300px) {
            gap: 30px;
        }
        @media (max-width: 1200px) {
            flex-direction: column;
            justify-content: start;
        }
    }

    // .block-orders-info1__title

    &__title {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .block-orders-info1__number

    &__number {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 700;
        font-size: 20px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--osnovnoy-tekst);
    }

    // .block-orders-info1__copy

    &__copy {
        flex: 0 0 20px;
        cursor: pointer;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
        img {
            width: 20px;
            height: 20px;
        }
    }

    // .block-orders-info1__data

    &__data {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    // .block-orders-info1__price

    &__price {
        display: none;
        @media (max-width: 1200px) {
            display: block;
            font-weight: 700;
            font-size: 20px;
            text-align: right;
        }
    }
}
.block-orders-info2 {
    flex: 0 1 228px;
    padding: 0px 0px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 38px;
    @media (max-width: 1400px) {
        padding: 0px 0px 0px 0px;
    }
    @media (max-width: 1200px) {
        flex: 1 1 auto;
    }
    .block-orders-info3__button {
        display: none;
        @media (max-width: 1200px) {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 15px;
        }
    }
    ul {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 1200px) {
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            gap: 10px 20px;
        }
        li {
            display: flex;
            gap: 20px;
            align-items: center;
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;

            @media (max-width: 1400px) {
                gap: 10px;
            }
            &.block-orders-orange {
                color: var(--osnovnoy-zelenyy);
            }
            &.block-orders-red {
                color: var(--osnovnoy-krasnyy);
            }
            &.block-orders-grey {
                color: var(--vtorostepennye-elementy);
            }
            a {
                display: flex;
                gap: 20px;
                align-items: center;
                @media (max-width: 1400px) {
                    gap: 10px;
                }
            }
            img {
                flex: 0 0 20px;
                width: 20px;
                height: 20px;
            }
        }
    }
}
.order-details {
    max-width: fit-content;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
    @media (max-width: 1200px) {
        margin: 0 auto;
        padding: 11px 0px;
    }
    @media (max-width: 768px) {
        padding: 0px 0px 0px 0px;
    }
    img {
        width: 13px;
        height: 8px;
        transition: transform 0.3s;
    }
}

.block-orders-photo {
    flex: 0 1 309px;
    display: grid;
    align-items: start;
    gap: 11px;
    grid-template-columns: repeat(4, 1fr);
    @media (max-width: 1200px) {
        display: none;
    }
    // .block-orders-photo__image

    &__image {
        position: relative;
        height: 50px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:last-child {
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
            }
        }
        span {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 400;
            font-size: 14px;
            color: var(--osnovnoy-belyy);
            z-index: 10;
        }
    }
}

.block-orders-info3 {
    flex: 1 0 211px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @media (max-width: 1200px) {
        display: none;
    }
    // .block-orders-info3__price

    &__price {
        flex: 1 1 auto;
        font-weight: 700;
        font-size: 20px;
        text-align: right;
    }

    // .block-orders-info3__button

    &__button {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: var(--osnovnoy-belyy);
        background: var(--osnovnoy-zelenyy);
        border-radius: 6px;
        padding: 4px 15px;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.7;
        }
        &.disabled {
            pointer-events: none;
            background: var(--vtorostepennye-elementy);
            color: var(--osnovnoy-belyy);
        }
    }
}

.order-status {
    padding: 0px 20px;
    display: flex;
    align-items: start;
    gap: 8px;
    @media (max-width: 1400px) {
        padding: 0px 0px 0px 0px;
    }
    @media (max-width: 1300px) {
        flex-direction: column;
    }
    // .order-status__squares

    &__squares {
        margin: 4px 0px;
        display: flex;
        align-items: start;
        gap: 5px;
    }

    // .order-status__square

    &__square {
        width: 10px;
        height: 10px;
        flex: 0 0 10px;
        background: var(--vtorostepennye-elementy);
        &.active {
            background: var(--osnovnoy-zelenyy);
        }
    }

    // .order-status__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .order-status__title

    &__title {
        font-weight: 700;
        font-size: 14px;
        span {
            color: var(--vtorostepennye-elementy);
            font-weight: 400;
            &.order-status-orange {
                color: var(--vtorostepennye-chestnyy-znak);
            }
            &.order-status-green {
                color: var(--osnovnoy-zelenyy);
            }
        }
    }

    // .order-status__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        &.order-status-orange {
            color: var(--vtorostepennye-chestnyy-znak);
        }
    }
}

.order-actions {
    position: relative;
    max-width: fit-content;
    @media (max-width: 768px) {
        max-width: 100%;
    }
    &.active {
        .order-actions__dropdowm {
            opacity: 1;
            pointer-events: auto;
        }
        .order-actions__button {
            img {
                transform: rotate(-180deg);
            }
        }
    }
    // .order-actions__button

    &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 400;
        font-size: 14px;
        gap: 20px;
        padding: 0px 0px 7px 0px;
        border-bottom: 1px solid var(--vtorostepennye-elementy);
        @media (max-width: 1200px) {
            border-bottom: none;
            padding: 11px 0px;
        }
        @media (max-width: 768px) {
            padding: 0px 0px 7px 0px;
            border-bottom: 1px solid var(--vtorostepennye-elementy);
            width: 100%;
        }
        img {
            width: 13px;
            height: 8px;
            transition: transform 0.3s;
        }
    }

    // .order-actions__dropdowm

    &__dropdowm {
        position: absolute;
        top: 100%;
        width: 243px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        padding: 20px;
        z-index: 20;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        @media (max-width: 768px) {
            padding: 10px;
            width: 100%;
        }
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                a {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 10px;
                    border-bottom: 1px solid var(--vtorostepennye-elementy);
                    padding: 2px 0px;
                    transition: opacity 0.3s;
                    &:hover {
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    // .order-actions__name

    &__name {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 400;
        font-size: 12px;
        line-height: 120%;
        img {
            width: 20px;
            height: 20px;
        }
        &.order-actions-red {
            color: var(--osnovnoy-krasnyy);
        }
    }

    // .order-actions__icon

    &__icon {
        flex: 0 0 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: var(--osnovnoy-krasnyy);
    }
}

.pagination {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 0px 0px;
    // .pagination__item
    &__item {
        width: 33px;
        height: 40px;
        border-bottom: 1px solid var(--vtorostepennye-elementy);
        cursor: pointer;
        transition: color 0.3s;
        font-weight: 400;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--vtorostepennye-elementy);
        &:hover {
            color: var(--osnovnoy-tekst);
        }
        // .pagination__item_nav

        &_nav {
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 13px;
                height: 8px;
            }
        }

        // .pagination__item_nav-prev

        &_nav-prev {
            margin: 0px 20px 0px 0px;
            img {
                transform: rotate(90deg);
            }
        }

        // .pagination__item_active

        &_active {
            color: var(--osnovnoy-tekst);
            border-bottom: 1px solid var(--osnovnoy-tekst);
        }

        // .pagination__item_ellipsis

        &_ellipsis {
            pointer-events: none;
        }

        // .pagination__item_nav-next

        &_nav-next {
            margin: 0px 0px 0px 20px;
            img {
                transform: rotate(-90deg);
            }
        }
    }
}
