:root {
  --container-width: 1663px;
  --container-padding: 74px;
  --osnovnoy-krasnyy: #ff4e45;
  --osnovnoy-zelenyy: #24a445;
  --osnovnoy-siniy: #107ab0;
  --vtorostepennye-chestnyy-znak: #f60;
  --osnovnoy-tekst: #545f71;
  --osnovnoy-pri-navedenii: #4da7d5;
  --vtorostepennye-elementy: #d9d9d9;
  --vtorostepennye-polya-vvoda: #f1f3f7;
  --osnovnoy-belyy: #fff;

  --font-family: "Inter", sans-serif;
}
